<!--Menu de opciones-->
<mat-toolbar color="primary">
  <img width="40" alt="USAC Logo"
    src="https://th.bing.com/th/id/R357b881f7404a7510172712ba8df9b7a?rik=1F6J6d8A%2bhOR5g&riu=http%3a%2f%2fcceeusac.com%2fasignaciones%2fImagenes%2flogo_usac.png&ehk=KplsqbdMJu2aTx%2bzT5h2DGcFKOP5faojo95W%2bTVxoPM%3d&risl=&pid=ImgRaw" />
  <span>Biblioteca Ingeniería</span>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="prestamosMenu">Prestamos</button>
  <mat-menu #prestamosMenu="matMenu" yPosition="above">
    <button routerLink="/revisarPrestamos" mat-menu-item>Revisar Prestamos</button>
    <button routerLink="/registrarPrestamo" mat-menu-item>Registrar Prestamo</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="devolucionesMenu">Devoluciones</button>
  <mat-menu #devolucionesMenu="matMenu" yPosition="below">
    <button routerLink="/registrarDevolucion" mat-menu-item>Revisar Devoluciones</button>
    <button routerLink="/registrarDevolucion" mat-menu-item>Registrar Devolucion</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="bibliotecaMenu">Biblioteca</button>
  <mat-menu #bibliotecaMenu="matMenu" xPosition="before">
    <button routerLink="/listaLibro" mat-menu-item>Listado de Libros</button>
    <button routerLink="/ingresoLibro" mat-menu-item>Registrar Libro</button>
    <button routerLink="/listaCategoriasAdmin" mat-menu-item>Lista de Categorias</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="perfilMenu">Perfil</button>
  <mat-menu #perfilMenu="matMenu" xPosition="after">
    <button routerLink="/solicitud-reset-password" mat-menu-item>Mis Datos</button>
    <button routerLink="/solicitud-reset-password" mat-menu-item>Cambiar mi Contraseña</button>
  </mat-menu>
  <button [disabled]="buttonUsers" mat-button [matMenuTriggerFor]="usuariosMenu">Administración</button>
  <mat-menu #usuariosMenu="matMenu" xPosition="after">
    <button routerLink="/usuarios" mat-menu-item>Lista de Usuarios</button>
    <button routerLink="/registro-usuario" mat-menu-item>Registrar Usuario</button>
    <button routerLink="/info-biblioteca" mat-menu-item>Información de Biblioteca</button>
  </mat-menu>
  <!--Boton para cerrar sesion-->
  <button (click)="logout()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<div class="container">
  <div class="row mt-5" *ngIf="libro">
    <div class="col-md-4 mx-auto">
      <div class="card" style="width: 18rem;">
        <div class="card-header text-center">
          Detalle Libro
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>ID: </b>{{libro.idLibro}}</li>
          <li class="list-group-item"><b>Nombre: </b>{{libro.nombre}}</li>
          <li class="list-group-item"><b>Autor: </b>{{libro.autor}}</li>
          <li class="list-group-item"><b>Codigo: </b>{{libro.codigo}}</li>
          <li class="list-group-item"><b>Edicion: </b>{{libro.edicion}}</li>
          <li class="list-group-item"><b>Fecha Publicacion: </b>{{libro.fechaPublicacion}}</li>
          <li class="list-group-item"><b>Idioma: </b>{{libro.idioma}}</li>
          <li class="list-group-item"><b>Imagen: </b>AQUI VA LA IMAGEN</li>
          <li class="list-group-item"><b>Stock: </b>{{libro.stock}}</li>
          <li class="list-group-item"><b>Categorias: </b>
            <ul *ngFor="let categorie of categories">
              <li>{{categorie.nombre}}</li>
            </ul>
          </li>
        </ul>
        <div class="card-footer">
          <button class="btn btn-outline-primary btn-block" (click)="volver()"><i
              class="fas fa-arrow-alt-circle-left"></i> Volver</button>
        </div>
      </div>

    </div>
  </div>
</div>