<mat-toolbar color="primary">
  <img width="40" alt="USAC Logo"
    src="https://th.bing.com/th/id/R357b881f7404a7510172712ba8df9b7a?rik=1F6J6d8A%2bhOR5g&riu=http%3a%2f%2fcceeusac.com%2fasignaciones%2fImagenes%2flogo_usac.png&ehk=KplsqbdMJu2aTx%2bzT5h2DGcFKOP5faojo95W%2bTVxoPM%3d&risl=&pid=ImgRaw" />
  <span>Biblioteca Ingeniería</span>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="prestamosMenu">Prestamos</button>
  <mat-menu #prestamosMenu="matMenu" yPosition="above">
    <button routerLink="/revisarPrestamos" mat-menu-item>Revisar Prestamos</button>
    <button routerLink="/reportesPrestamo" mat-menu-item>Reportes Prestamo</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="devolucionesMenu">Devoluciones</button>
  <mat-menu #devolucionesMenu="matMenu" yPosition="below">
    <button routerLink="/registrarDevolucion" mat-menu-item>Revisar Devoluciones</button>
    <button routerLink="/registrarDevolucion" mat-menu-item>Registrar Devolucion</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="bibliotecaMenu">Biblioteca</button>
  <mat-menu #bibliotecaMenu="matMenu" xPosition="before">
    <button routerLink="/listaLibro" mat-menu-item>Listado de Libros</button>
    <button routerLink="/ingresoLibro" mat-menu-item>Registrar Libro</button>
    <button routerLink="/listaCategoriasAdmin" mat-menu-item>Lista de Categorias</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="perfilMenu">Perfil</button>
  <mat-menu #perfilMenu="matMenu" xPosition="after">
    <button routerLink="/solicitud-reset-password" mat-menu-item>Mis Datos</button>
    <button routerLink="/solicitud-reset-password" mat-menu-item>Cambiar mi Contraseña</button>
  </mat-menu>
  <button [disabled]="buttonUsers" mat-button [matMenuTriggerFor]="usuariosMenu">Administración</button>
  <mat-menu #usuariosMenu="matMenu" xPosition="after">
    <button routerLink="/usuarios" mat-menu-item>Lista de Usuarios</button>
    <button routerLink="/registro-usuario" mat-menu-item>Registrar Usuario</button>
    <button routerLink="/info-biblioteca" mat-menu-item>Información de Biblioteca</button>
  </mat-menu>
  <!--Boton para cerrar sesion-->
  <button (click)="logout()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<main>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>EDICION LIBRO</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="libro">
      <form novalidate #f="ngForm">
        <br>
        <div class="form-group">
          <label for="autor">Autor</label>
          <input type="text" class="form-control" id="autor" placeholder="Autor del libro" [(ngModel)]="libro.autor"
            name="autor">
        </div>
        <div class="form-group">
          <label for="Codigo">Codigo</label>
          <input type="text" class="form-control" id="codigo" placeholder="Código del libro" name="codigo"
            [(ngModel)]="libro.codigo" required>
        </div>
        <div class="form-group">
          <label for="edicion">Edicion</label>
          <input type="number" class="form-control" id="edicion" placeholder="Edición" name="edicion"
            [(ngModel)]="libro.edicion">
        </div>
        <div class="form-group">
          <label for="formFile" class="form-label">Idioma</label>
          <br>
          <select class="form-select" aria-label="Default select example" id="idioma" [(ngModel)]="libro.idioma"
            name="idioma" required>
            <option value="INGLES">INGLES</option>
            <option value="ESPAÑOL">ESPAÑOL</option>
          </select>
        </div>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Titulo del libro"
            [(ngModel)]="libro.nombre" required>
        </div>
        <div class="mb-3">
          <label for="formFile" class="form-label">Imagen</label>
          <input class="form-control" type="file" id="formFile" (change)="onFileChanged($event)"><br>
          <img [src]="imgURL" height="" width="230" *ngIf="imgURL">
        </div>
        <div class="form-group">
          <label for="Stock">Stock</label>
          <input type="number" class="form-control" id="Stock" name="stock" [(ngModel)]="libro.stock" required>
        </div>
        <div class="form-group">
          <label for="formFile" class="form-label">Categorias</label>
          <mat-grid-list cols="4" rowHeight="2:1">
            <mat-grid-tile [colspan]=3>
              <select class="form-select" aria-label="Default select example" [(ngModel)]="categoria" name="Categorias">
                <option *ngFor="let categoria of categorias" [ngValue]="categoria">
                  {{categoria.nombre}}
                </option>
              </select>
            </mat-grid-tile>
            <mat-grid-tile [colspan]=1>
              <button (click)="addCategoria()" class="btn btn-outline-success btn-block">Añadir</button>
            </mat-grid-tile>
          </mat-grid-list>
          <div class="col-auto">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let categoria of categoriasElegidas">
                  <td>{{categoria.idCategoria}}</td>
                  <td>{{categoria.nombre}}</td>
                  <td><button class="btn btn-outline-danger" (click)="erase(categoria)"><i class="far fa-trash-alt"></i>
                      Eliminar</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <button (click)="onUpdate()" class="btn btn-outline-success btn-block" [disabled]="!f.valid">Actualizar</button>
      </form>
    </mat-card-content>
  </mat-card>
</main>
<br>