<mat-toolbar color="primary">
  <img width="40" alt="USAC Logo"
    src="https://th.bing.com/th/id/R357b881f7404a7510172712ba8df9b7a?rik=1F6J6d8A%2bhOR5g&riu=http%3a%2f%2fcceeusac.com%2fasignaciones%2fImagenes%2flogo_usac.png&ehk=KplsqbdMJu2aTx%2bzT5h2DGcFKOP5faojo95W%2bTVxoPM%3d&risl=&pid=ImgRaw" />
  <span>Biblioteca Ingeniería</span>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="prestamosMenu">Prestamos</button>
  <mat-menu #prestamosMenu="matMenu" yPosition="above">
    <button routerLink="/revisarPrestamos" mat-menu-item>Revisar Prestamos</button>
    <button routerLink="/reportesPrestamo" mat-menu-item>Reportes Prestamo</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="devolucionesMenu">Reservaciones</button>
  <mat-menu #devolucionesMenu="matMenu" yPosition="below">
    <button routerLink="/revisarReservaciones" mat-menu-item>Reservaciones Activas</button>
    <button routerLink="/revisarReservacionesVencidas" mat-menu-item>Reservaciones Expiradas</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="bibliotecaMenu">Biblioteca</button>
  <mat-menu #bibliotecaMenu="matMenu" xPosition="before">
    <button routerLink="/listaLibro" mat-menu-item>Listado de Libros</button>
    <button routerLink="/ingresoLibro" mat-menu-item>Registrar Libro</button>
    <button routerLink="/listaCategoriasAdmin" mat-menu-item>Lista de Categorias</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="perfilMenu">Perfil</button>
  <mat-menu #perfilMenu="matMenu" xPosition="after">
    <button routerLink="/solicitud-reset-password" mat-menu-item>Mis Datos</button>
    <button routerLink="/solicitud-reset-password" mat-menu-item>Cambiar mi Contraseña</button>
  </mat-menu>
  <button [disabled]="buttonUsers" mat-button [matMenuTriggerFor]="usuariosMenu">Administración</button>
  <mat-menu #usuariosMenu="matMenu" xPosition="after">
    <button routerLink="/usuarios" mat-menu-item>Lista de Usuarios</button>
    <button routerLink="/registro-usuario" mat-menu-item>Registrar Usuario</button>
    <button routerLink="/info-biblioteca" mat-menu-item>Información de Biblioteca</button>
  </mat-menu>
  <!--Boton para cerrar sesion-->
  <button (click)="logout()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<main>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>INGRESO DE UN NUEVO LIBRO</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form novalidate #f="ngForm">
                  
        <div class="form-group">
            <label for="autor">Autor</label>
            <input type="text" class="form-control" id="autor" placeholder="Autor del libro" [(ngModel)]="autor" name="autor">
        </div>
        <div class="form-group">
          <label for="Codigo">Código</label>
          <input type="text" class="form-control" id="codigo" placeholder="Código del libro" name="codigo" [(ngModel)]="codigo" required>
        </div>
        <div class="form-group">
          <label for="edicion">Edición</label>
          <input type="number"  min="1" class="form-control" id="edicion" placeholder="Edición" name="edicion" [(ngModel)]="edicion">
        </div>
        <div class="form-group">
          <label for="Fecha">Fecha de Publicación</label>
          <input type="date" class="form-control" id="fechaPublicacion" name="fechaPublicacion" [(ngModel)]="fechaPublicacion">
        </div>
        <div class="form-group">
          <label for="">Idioma:</label>
         <!--  <input type="text" class="form-control" id="Carrera" [(ngModel)]="carrera" name="carrera" required><br> -->
          <select class="form-select" aria-label="Default select example" id="idioma" [(ngModel)]="idioma" name="idioma" required>
              <option value="INGLES">INGLES</option>
              <option value="ESPAÑOL">ESPAÑOL</option>
          </select>
      </div>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Titulo del libro" [(ngModel)]="nombre" required>
        </div>
        <!-- <div class="form-group">
          <label for="Imagen">Imagen</label><br>
          <input type="file" (change)="onFileChanged($event)">
          <img [src]="imgURL" height="200" width="200" *ngIf="imgURL">
        </div> -->
        <div class="mb-3">
          <label for="formFile" class="form-label">Imagen</label>
          <input class="form-control" type="file" id="formFile" (change)="onFileChanged($event)"><br>
          <img [src]="imgURL" height="200" width="200" *ngIf="imgURL">
        </div>
        <div class="form-group">
          <label for="Stock">Stock</label>
          <input type="number"  min="1" class="form-control" id="Stock" name="stock" [(ngModel)]="stock" required>
        </div>
        <div class="form-group">
          <label for="formFile" class="form-label">Categorias:  </label>
          <mat-grid-list cols="4" rowHeight="2:1" >
            <mat-grid-tile [colspan]=3>
              <select class="form-select" aria-label="Default select example" [(ngModel)]="categoria" name="Categorias">
                <option *ngFor="let categoria of categorias" [ngValue]="categoria">
                  {{categoria.nombre}}
                </option>
              </select> 
            </mat-grid-tile>
            <mat-grid-tile [colspan]=1>
              <button (click)="addCategoria()" class="btn btn-outline-success btn-block">Añadir categoria</button>
            </mat-grid-tile>
          </mat-grid-list>
          <div class="col-auto">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nombre</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let categoria of categoriasElegidas">
                  <td>{{categoria.idCategoria}}</td>
                  <td>{{categoria.nombre}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <button (click)="onCreate()" class="btn btn-outline-success btn-block" [disabled]="!f.valid">Crear</button>
    </form>
    </mat-card-content>
  </mat-card>
</main>
  