<!--Menu de opciones-->
<mat-toolbar color="primary">
  <img width="40" alt="USAC Logo"
    src="https://th.bing.com/th/id/R357b881f7404a7510172712ba8df9b7a?rik=1F6J6d8A%2bhOR5g&riu=http%3a%2f%2fcceeusac.com%2fasignaciones%2fImagenes%2flogo_usac.png&ehk=KplsqbdMJu2aTx%2bzT5h2DGcFKOP5faojo95W%2bTVxoPM%3d&risl=&pid=ImgRaw" />
  <span>Biblioteca Ingeniería</span>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="prestamosMenu">Prestamos</button>
  <mat-menu #prestamosMenu="matMenu" yPosition="above">
    <button routerLink="/revisarPrestamos" mat-menu-item>Revisar Prestamos</button>
    <button routerLink="/reportesPrestamo" mat-menu-item>Reportes Prestamo</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="devolucionesMenu">Reservaciones</button>
  <mat-menu #devolucionesMenu="matMenu" yPosition="below">
    <button routerLink="/revisarReservaciones" mat-menu-item>Reservaciones Activas</button>
    <button routerLink="/revisarReservacionesVencidas" mat-menu-item>Reservaciones Expiradas</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="bibliotecaMenu">Biblioteca</button>
  <mat-menu #bibliotecaMenu="matMenu" xPosition="before">
    <button routerLink="/listaLibro" mat-menu-item>Listado de Libros</button>
    <button routerLink="/ingresoLibro" mat-menu-item>Registrar Libro</button>
    <button routerLink="/listaCategoriasAdmin" mat-menu-item>Lista de Categorias</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="perfilMenu">Perfil</button>
  <mat-menu #perfilMenu="matMenu" xPosition="after">
    <button routerLink="/solicitud-reset-password" mat-menu-item>Mis Datos</button>
    <button routerLink="/solicitud-reset-password" mat-menu-item>Cambiar mi Contraseña</button>
  </mat-menu>
  <button [disabled]="buttonUsers" mat-button [matMenuTriggerFor]="usuariosMenu">Administración</button>
  <mat-menu #usuariosMenu="matMenu" xPosition="after">
    <button routerLink="/usuarios" mat-menu-item>Lista de Usuarios</button>
    <button routerLink="/registro-usuario" mat-menu-item>Registrar Usuario</button>
    <button routerLink="/info-biblioteca" mat-menu-item>Información de Biblioteca</button>
  </mat-menu>
  <!--Boton para cerrar sesion-->
  <button (click)="logout()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<main>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Lista de Reservaciones Activas</mat-card-title>
    </mat-card-header>
    <mat-card-header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form (ngSubmit)="cargarPrestamosFiltrados()" class="form-inline my-2 my-lg-0" novalidate #f="ngForm">
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Buscar: </span>
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="Busqueda" placeholder="DPI/Carne/Reservacion" [(ngModel)]="stringBusqueda" name="Busqueda">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
              <button class="btn btn-outline-danger my-2 my-sm-0" type="reset">Limpiar</button>
            </div> 
          </form>
          <form type="reset" (ngSubmit)="cargarPrestamos()" class="form-inline my-2 my-lg-1" novalidate #f="ngForm">
            <div class="input-group mb-3">
              <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Ver Todo</button>
            </div>
          </form>
        </div>
      </nav>
    </mat-card-header>
    <mat-card-content>
      <div class="col-auto" class="table-responsive">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nombres</th>
              <th scope="col">Apellidos</th>
              <th scope="col">DPI</th>
              <th scope="col">Carnet</th>
              <th scope="col">Carrera</th>
              <th scope="col">Fecha Reservacion</th>
              <th scope="col">Estado</th>
              <th scope="col">Codigo Reservacion</th>
              <th scope="col">Libro</th>
              <th scope="col">Autorizar Prestamo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prestamo of prestamos">
              <td>{{prestamo.id}}</td>
              <td>{{prestamo.nombre}}</td>
              <td>{{prestamo.apellido}}</td>
              <td>{{prestamo.dpi}}</td>
              <td>{{prestamo.carnet}}</td>
              <td>{{prestamo.carrera}}</td>
              <td>{{prestamo.fechaReservacion}}</td>
              <td>{{prestamo.estado}}</td>
              <td>{{prestamo.codigoReservacion}}</td>
              <td><button class="btn btn-outline-info" routerLink="/detalleLibroC/{{prestamo.codigoLibro}}"><i
                    class="far fa-edit"></i>
                  {{prestamo.codigoLibro}}</button></td>
              <td><button class="btn btn-outline-success"
                  (click)="onUpdate(prestamo.codigoReservacion, prestamo.nombre)"><i class="far fa-trash-alt"></i>
                  Iniciar</button>
                <button class="btn btn-outline-danger" (click)="eliminarReservacion(prestamo.id, prestamo.nombre)"><i
                    class="far fa-trash-alt"></i>
                  Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</main>