<mat-toolbar color="primary">
    <img width="40" alt="USAC Logo"
      src="https://th.bing.com/th/id/R357b881f7404a7510172712ba8df9b7a?rik=1F6J6d8A%2bhOR5g&riu=http%3a%2f%2fcceeusac.com%2fasignaciones%2fImagenes%2flogo_usac.png&ehk=KplsqbdMJu2aTx%2bzT5h2DGcFKOP5faojo95W%2bTVxoPM%3d&risl=&pid=ImgRaw" />
    <span>Biblioteca Ingeniería</span>
    <div class="spacer"></div>
  </mat-toolbar>
  
  <div class="content" role="main">
    <div class="container col-md-6">
        <div class="card">
            <div class="card-header">
                <h3>Información del Libro</h3>
            </div>
            <div class="card-body">
                <div style="text-align: center">
                    <h1>
                        {{ libroRecivido.nombre }}
                    </h1>
                    <img
                      width="230"
                      alt="Angular Logo"
                      src="https://edit.org/images/cat/portadas-libros-big-2019101610.jpg"
                    />
                  </div>
                <form action="">
                    <div class="form-group">
                        <label for="">Codigo:</label>
                        <br>
                        <label for="">{{ libroRecivido.codigo }}</label>
                    </div>
                    <div class="form-group">
                        <label for="">Titulo:</label>
                        <br>
                        <label for="">{{ libroRecivido.nombre }}</label>
                    </div>
                    <div class="form-group">
                        <label for="">Autor:</label>
                        <br>
                        <label for="">{{ libroRecivido.autor }}</label>
                    </div>
                    <div class="form-group">
                        <label for="">Cantidad disponible:</label>
                        <br>
                        <label for="">{{ libroRecivido.stock }}</label>
                    </div>
                    <div class="form-group">
                        <label for="">Idioma:</label>
                        <br>
                        <label for="">{{ libroRecivido.idioma }}</label> 
                    </div>
                    <div class="form-group">
                        <label for="">Fecha de Publicacion:</label>
                        <br>
                        <label for="">{{ libroRecivido.fechaPublicacion }}</label>
                    </div>
                    <button class="btn btn-danger">Reservar</button>
                </form>
            </div>
        </div>
    </div>
  </div>

<br><br>
