<!--Menu de opciones-->
<mat-toolbar color="primary">
    <img width="40" alt="USAC Logo"
        src="https://th.bing.com/th/id/R357b881f7404a7510172712ba8df9b7a?rik=1F6J6d8A%2bhOR5g&riu=http%3a%2f%2fcceeusac.com%2fasignaciones%2fImagenes%2flogo_usac.png&ehk=KplsqbdMJu2aTx%2bzT5h2DGcFKOP5faojo95W%2bTVxoPM%3d&risl=&pid=ImgRaw" />
    <span>Biblioteca Ingeniería</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="belowMenu">Prestamos</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
        <button routerLink="/registrarPrestamo" mat-menu-item>Revisar Prestamos</button>
        <button routerLink="/registrarPrestamo" mat-menu-item>Registrar Prestamo</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="belowMenu">Devoluciones</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
        <button routerLink="/registrarDevolucion" mat-menu-item>Revisar Devoluciones</button>
        <button routerLink="/registrarDevolucion" mat-menu-item>Registrar Devolucion</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="beforeMenu">Biblioteca</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button routerLink="/listaLibro" mat-menu-item>Listado de Libros</button>
        <button routerLink="/ingresoLibro" mat-menu-item>Registrar Libro</button>
        <button routerLink="/listaCategoriasAdmin" mat-menu-item>Lista de Categorias</button>
    </mat-menu>
    <button [disabled]="buttonUsers" mat-button [matMenuTriggerFor]="afterMenu">Usuarios</button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
        <button routerLink="/usuarios" mat-menu-item>Lista de Usuarios</button>
        <button routerLink="/registro-usuario" mat-menu-item>Registrar Usuario</button>
    </mat-menu>
    <!--Boton para cerrar sesion-->
    <button (click)="logout()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>

<main>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Lista de Prestamos Activos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="col-auto" class="table-responsive">
          <table class="table table-hover">
            <thead class="thead-dark"> 
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">DPI</th>
                <th scope="col">Carnet</th>
                <th scope="col">Carrera</th>
                <th scope="col">Fecha Reservacion</th>
                <th scope="col">Fecha Inicio</th>
                <th scope="col">Fecha Fin</th>
                <th scope="col">Estado</th>
                <th scope="col">Codigo Reservacion</th>
                <th scope="col">Mora</th>
                <th scope="col">Costo</th>
                <th scope="col">Codigo Libro</th>
                <th scope="col">Finalizar Prestamo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let prestamo of prestamos">
                <td>{{prestamo.id}}</td>
                <td>{{prestamo.nombre}}</td>
                <td>{{prestamo.apellido}}</td>
                <td>{{prestamo.dpi}}</td>
                <td>{{prestamo.carnet}}</td>
                <td>{{prestamo.carrera}}</td>
                <td>{{prestamo.fechaReservacion}}</td>
                <td>{{prestamo.fechaInicio}}</td>
                <td>{{prestamo.fechaFin}}</td>
                <td>{{prestamo.estado}}</td>
                <td>{{prestamo.codigoReservacion}}</td>
                <td>
                  <div class="spacer"></div>
                    <div *ngIf="prestamo.mora==true ; else notAvailable" ><span  class="availableDot">
                      <br>
                     {{prestamo.diasMoroso}} Dias Atrasado
                    </span>
                    </div>
                    <ng-template #notAvailable><span class="notAvailableDot"></span></ng-template>
                </td>
                <td>Q. {{prestamo.costo}}</td>
                <td><button class="btn btn-outline-info" routerLink="/detalleLibroC/{{prestamo.codigoLibro}}"><i
                      class="far fa-edit"></i>
                      {{prestamo.codigoLibro}}</button></td>
                <td><button class="btn btn-outline-danger" ><i
                      class="far fa-trash-alt"></i>
                    Finalizar</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </main>