<!--Menu de opciones-->
<mat-toolbar color="primary">
  <img width="40" alt="USAC Logo"
    src="https://th.bing.com/th/id/R357b881f7404a7510172712ba8df9b7a?rik=1F6J6d8A%2bhOR5g&riu=http%3a%2f%2fcceeusac.com%2fasignaciones%2fImagenes%2flogo_usac.png&ehk=KplsqbdMJu2aTx%2bzT5h2DGcFKOP5faojo95W%2bTVxoPM%3d&risl=&pid=ImgRaw" />
  <span>Biblioteca Ingeniería</span>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="belowMenu">Prestamos</button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button routerLink="/registrarPrestamo" mat-menu-item>Revisar Prestamos</button>
    <button routerLink="/registrarPrestamo" mat-menu-item>Registrar Prestamo</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="belowMenu">Devoluciones</button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button routerLink="/registrarDevolucion" mat-menu-item>Revisar Devoluciones</button>
    <button routerLink="/registrarDevolucion" mat-menu-item>Registrar Devolucion</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="beforeMenu">Biblioteca</button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button routerLink="/listaLibro" mat-menu-item>Listado de Libros</button>
    <button routerLink="/ingresoLibro" mat-menu-item>Registrar Libro</button>
    <button routerLink="/listaCategoriasAdmin" mat-menu-item>Lista de Categorias</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="afterMenu">Usuarios</button>
  <mat-menu #afterMenu="matMenu" xPosition="after">
    <button routerLink="/usuarios" mat-menu-item>Lista de Usuarios</button>
    <button routerLink="/registro-usuario" mat-menu-item>Registrar Usuario</button>
  </mat-menu>
  <!--Boton para cerrar sesion-->
  <button (click)="logout()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>


<!--Card para formulario de login-->
<main>
  <mat-card>
    <form (ngSubmit)="onUpdate()" novalidate #myForm="ngForm">
      <img width="50" alt="USAC Logo"
        src="https://th.bing.com/th/id/R357b881f7404a7510172712ba8df9b7a?rik=1F6J6d8A%2bhOR5g&riu=http%3a%2f%2fcceeusac.com%2fasignaciones%2fImagenes%2flogo_usac.png&ehk=KplsqbdMJu2aTx%2bzT5h2DGcFKOP5faojo95W%2bTVxoPM%3d&risl=&pid=ImgRaw" />
      <mat-label>
        <h2>Nuevas credenciales de usuario</h2>
      </mat-label>
      <mat-form-field>
        <mat-label>Nombre Completo: </mat-label>
        <input type="text" [(ngModel)]="user.nombre" name="nombre" matInput placeholder="Juan Doe" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Registro Academico/Personal: </mat-label>
        <input type="text" [(ngModel)]="user.numeroRegistro" name="numeroRegistro" matInput placeholder="201730291"
          required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Usuario: </mat-label>
        <input type="text" [(ngModel)]="user.username" name="user" matInput placeholder="mi_usuario" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Correo: </mat-label>
        <input type="email" [(ngModel)]="user.correo" name="correo" matInput placeholder="mi_correo@dom.com" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Contraseña: </mat-label>
        <input id="txtPassword" type="password" [(ngModel)]="user.password" name="password" matInput placeholder="mi contraseña"
          required>
          <mat-icon matSuffix id="show_password" type="button" onclick="mostrarPassword()">visibility</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Repetir Contraseña: </mat-label>
        <input id="txtPassword2" type="password" [(ngModel)]="confirmPassword" name="password" matInput placeholder="mi contraseña"
          required>
          <mat-icon matSuffix id="show_password" type="button" onclick="mostrarPassword2()">visibility</mat-icon>
      </mat-form-field>
      <button [disabled]="!myForm.valid" mat-raised-button color="accent"
        style="display: block; width: 100%;">Actualizar</button>
    </form>
  </mat-card>
</main>

<!-- Footer -->
<footer class="page-footer font-small blue">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="http://www.ingenieria.cunoc.usac.edu.gt/portal/"> IngenieriaCunoc.edu.gt</a>
    <svg id="clouds" alt="Gray Clouds Background" xmlns="http://www.w3.org/2000/svg" width="auto" height="auto"
      viewBox="0 0 2611.084 485.677">
      <path id="Path_39" data-name="Path 39"
        d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
        transform="translate(142.69 -634.312)" fill="#eee" />
    </svg>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->