<!--Menu de opciones-->
<mat-toolbar color="primary">
    <img width="40" alt="USAC Logo"
      src="https://th.bing.com/th/id/R357b881f7404a7510172712ba8df9b7a?rik=1F6J6d8A%2bhOR5g&riu=http%3a%2f%2fcceeusac.com%2fasignaciones%2fImagenes%2flogo_usac.png&ehk=KplsqbdMJu2aTx%2bzT5h2DGcFKOP5faojo95W%2bTVxoPM%3d&risl=&pid=ImgRaw" />
    <span>Biblioteca Ingeniería</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="belowMenu">Prestamos</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="beforeMenu">Recientes</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="afterMenu">Carreras</button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
  
  <!--Card para formulario de login-->
  <main>
    <mat-card>
      <form action="#">
        <img width="50" alt="USAC Logo"
        src="https://th.bing.com/th/id/R357b881f7404a7510172712ba8df9b7a?rik=1F6J6d8A%2bhOR5g&riu=http%3a%2f%2fcceeusac.com%2fasignaciones%2fImagenes%2flogo_usac.png&ehk=KplsqbdMJu2aTx%2bzT5h2DGcFKOP5faojo95W%2bTVxoPM%3d&risl=&pid=ImgRaw" />
        <mat-label> 
            <h2>Datos del nuevo usuario</h2>
        </mat-label>
        <mat-form-field>
            <mat-label>Nombre Completo: </mat-label>
            <input type="text" [(ngModel)]="user.nombre" name="nombre" matInput placeholder="Juan Doe" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Registro Academico/Personal: </mat-label>
            <input type="text" [(ngModel)]="user.numeroRegistro" name="numeroRegistro" matInput placeholder="201730291" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Usuario: </mat-label>
          <input type="text" [(ngModel)]="user.username" name="user" matInput placeholder="mi_usuario" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Contraseña: </mat-label>
          <input type="password" [(ngModel)]="user.password" name="password" matInput placeholder="mi contraseña" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Repetir Contraseña: </mat-label>
            <input type="password" [(ngModel)]="confirmPassword" name="password" matInput placeholder="mi contraseña" required>
        </mat-form-field>
        <button type="submit" (click)="onUpdate()" mat-raised-button color="accent" style="display: block; width: 100%;">Actualizar</button>
      </form>
    </mat-card>  
  </main>
