<!--Menu de opciones-->
<mat-toolbar color="primary">
    <img width="40" alt="USAC Logo"
      src="https://th.bing.com/th/id/R357b881f7404a7510172712ba8df9b7a?rik=1F6J6d8A%2bhOR5g&riu=http%3a%2f%2fcceeusac.com%2fasignaciones%2fImagenes%2flogo_usac.png&ehk=KplsqbdMJu2aTx%2bzT5h2DGcFKOP5faojo95W%2bTVxoPM%3d&risl=&pid=ImgRaw" />
    <span>Biblioteca Ingeniería</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="bibliotecaMenu">Biblioteca</button>
    <mat-menu #bibliotecaMenu="matMenu" xPosition="after">
      <button routerLink="/catalogo" mat-menu-item>Catalogo</button>
      <button routerLink="/solicitudes" mat-menu-item>Buscar solicitudes</button>
      <button routerLink="/cancelarReservacion" mat-menu-item>Cancelar Reservacion</button>
      <button routerLink="/login" mat-menu-item>Iniciar Sesion</button>
    </mat-menu>
    <button routerLink="/login" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>login</mat-icon>
    </button>
  </mat-toolbar>

  <main>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Buscar reservacion</mat-card-title>
      </mat-card-header>
      <mat-card-header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form (ngSubmit)="cargarReservacion()" class="form-inline my-2 my-lg-0" novalidate #f="ngForm">
              <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">CODIGO: </span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="Busqueda" placeholder="Ej: 1234abcd" [(ngModel)]="stringBusqueda" name="Busqueda">
                <span class="input-group-text" id="inputGroup-sizing-default">DPI: </span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="dpi" placeholder="Ej: 1234567890987" [(ngModel)]="dpi" name="DPI">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
              </div> 
            </form>
          </div>
        </nav>
      </mat-card-header>
      <mat-card-content>
        <div class="col-auto" class="table-responsive">
          <table class="table table-hover">
            <thead class="thead-dark"> 
              <tr>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Carnet</th>
                <th scope="col">Carrera</th>
                <th scope="col">Fecha Reservacion</th>
                <th scope="col">Estado</th>
                <th scope="col">Codigo Reservacion</th>
                <th scope="col">Codigo Libro</th>
                <th scope="col">Cancelar Reservacion</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let prestamo of prestamos">
                <td>{{prestamo.nombre}}</td>
                <td>{{prestamo.apellido}}</td>
                <td>{{prestamo.carnet}}</td>
                <td>{{prestamo.carrera}}</td>
                <td>{{prestamo.fechaReservacion}}</td>
                <td>{{prestamo.estado}}</td>
                <td>{{prestamo.codigoReservacion}}</td>
                <td>{{prestamo.codigoLibro}}</td>
                <td><button class="btn btn-outline-danger" (click)="onUpdate(prestamo.codigoReservacion, prestamo.dpi, prestamo.carnet,prestamo.codigoLibro)"><i
                      class="far fa-trash-alt"></i>
                    Cancelar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </main>
