<mat-toolbar color="primary">
    <img width="40" alt="USAC Logo"
        src="https://th.bing.com/th/id/R357b881f7404a7510172712ba8df9b7a?rik=1F6J6d8A%2bhOR5g&riu=http%3a%2f%2fcceeusac.com%2fasignaciones%2fImagenes%2flogo_usac.png&ehk=KplsqbdMJu2aTx%2bzT5h2DGcFKOP5faojo95W%2bTVxoPM%3d&risl=&pid=ImgRaw" />
    <span>Biblioteca Ingeniería</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="afterMenu">Biblioteca</button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
        <button routerLink="/catalogo" mat-menu-item>Catalogo</button>
        <button routerLink="/login" mat-menu-item>Iniciar Sesion</button>
    </mat-menu>
    <button routerLink="/login" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>login</mat-icon>
    </button>
</mat-toolbar>
<br>
<div class="content" role="main">
    <div class="container col-md-6">
        <div class="card">
            <div class="card-body">
                <div style="text-align: center">
                    <h1>
                            Formulario de Reservacion
                    </h1>
                    <h2>Libro: {{ nombreVar }}</h2>                   
                </div>
                <ul>
                    <li>Recuerda que tu reservación se confirmará hasta el momento en que envies este formulario.</li>
                    <li>Las reservaciones son válidas por 24 horas.</li>
                </ul>
                <form (ngSubmit)="generarReservacion()" novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="">Nombres:</label>
                        <input type="text" class="form-control" id="Nombre" [(ngModel)]="nombre" name="nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="">Apelllidos:</label>
                        <input type="text" class="form-control" id="Apelllidos" [(ngModel)]="apellido" name="apelllidos" required>
                    </div>
                    <div class="form-group">
                        <label for="">Carnet:</label>
                        <input type="text" class="form-control" id="carnet" [(ngModel)]="carnet" name="carnet" maxlength="9" required><br>
                    </div>
                    <div class="form-group">
                        <label for="">DPI:</label>
                        <input type="text" class="form-control" id="DPI" [(ngModel)]="DPI" name="DPI" maxlength="13" required><br>
                    </div>
                    <div class="form-group">
                        <label for="">Carrera:</label>
                       <!--  <input type="text" class="form-control" id="Carrera" [(ngModel)]="carrera" name="carrera" required><br> -->
                        <select class="form-select" aria-label="Default select example" id="Carrera" [(ngModel)]="carrera" name="carrera" required>
                            <option value="INGENIERIA CIVIL">INGENIERIA CIVIL</option>
                            <option value="INGENIERIA MECANICA">INGENIERIA MECANICA</option>
                            <option value="INGENIERIA INDUSTRIAL">INGENIERIA INDUSTRIAL</option>
                            <option value="INGENIERIA EN CIENCIAS Y SISTEMAS">INGENIERIA EN CIENCIAS Y SISTEMAS</option>
                            <option value="INGENIERIA MECANICA INDUSTRIAL">INGENIERIA MECANICA INDUSTRIAL</option>
                            <option value="CC. JURIDICAS Y SOCIALES">CC. JURIDICAS Y SOCIALES</option>
                            <option value="ECONOMIA">ECONOMIA</option>
                            <option value="ADMINISTRACION DE EMPRESAS">ADMINISTRACION DE EMPRESAS</option>
                            <option value="AUDITORIA Y CONTADURIA PUBLICA">AUDITORIA Y CONTADURIA PUBLICA</option>
                            <option value="PSICOLOGIA">PSICOLOGIA</option>
                            <option value="TRABAJO SOCIAL">TRABAJO SOCIAL</option>
                            <option value="PEDAGOGIA ">PEDAGOGIA </option>
                            <option value="P.E.M. EN MATEMATICA Y FISICA">P.E.M. EN MATEMATICA Y FISICA</option>
                            <option value="MEDICO Y CIRUJANO">MEDICO Y CIRUJANO</option>
                            <option value="LIC. EN ENFERMERIA">LIC. EN ENFERMERIA</option>
                            <option value="AGRONOMIA">AGRONOMIA</option>
                            <option value="AGRIMENSURA">AGRIMENSURA</option>
                            <option value="INGENIERIA EN GESTION AMBIENTAL">INGENIERIA EN GESTION AMBIENTAL</option>
                            <option value="ARQUITECTURA">ARQUITECTURA</option>
                            <option value="ODONTOLOGIA">ODONTOLOGIA</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="checkbox"  onclick="confirmarReserva.disabled=!this.checked"> Acepto los <a href="url">Terminos y Condiciones</a>  <br>
                    </div>
                    <button id="confirmarReserva" disabled class="btn btn-danger">Reservar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<br><br>